body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9eae1;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  nav {
    background-color: #fff;
    padding: 10px 0;
  }
  
  nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    color: #f16a6a;
    font-size: 24px;
    margin: 0;
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin-left: 20px;
  }
  
  .menu a {
    color: #f16a6a;
    text-decoration: none;
  }
  
  .menu a:hover {
    color: #b34747;
  }
  
  .hero {
    background-color: #fde6e6;
    text-align: center;
    padding: 150px 0;
  }
  
  .about-section,
  .projects-section,
  .contact-section {
    padding: 100px 0;
    background-color: #ccbbbb;
  }

  .subtitle{
    font-weight: bold;
  }
  
  .contact-section {
    background-color: #f9eae1;
    color: #f16a6a;
  }
  
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }
  
  .project {
    margin-bottom: 40px;
  }
  
  .details, .details-family, .details-education, .details-contact {
    font-size: 19px;

  }

  #fam {
    position: relative;
    text-align: right;
    bottom: 210px;
  }

  .details-family {
    position: relative;
    text-align: right;
    bottom: 200px;
  }

  .education{
    position: relative;
    bottom: 100px;
  }

  .details-education{
    position: relative;
    bottom: 80px;

  }

  img {
    height: 180px;
    width: 150px;
    border-radius: 50px;
  }